@{
    ViewBag.Title = "Register";
}

<div class="jumbotron">
    <form method="post">
        <label>Full Name</label><input name="Name" type="text" />
        <label>Email</label><input name="Email" type="email" />
        <label>Password</label><input name="Password" type="password" />
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </form>
</div>
